//Widescreens
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }

    .article-box {
        margin: 0 7% 0 7%;
        padding: 3% 0 3% 0;
        background-color: #f5f5f5;
    }

    .article-info {
        padding: 0 5% 0 5%;
    }
}

// Desktops and Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }

    .article-info {
        padding: 0 20% 0 20%;
    }

     .article-box {
        margin: 0 7% 0 7%;
        padding: 3% 0 3% 0;
        background-color: #f5f5f5;
    }
}

//Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }
    
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            background: url('../img/portrait_small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }

    .blog-info {
        grid-template-areas: 
        'post6'
        'post5'
        'post4'
        'post3'
        'post2'
        'post1';
        grid-template-columns: 1fr;

        .post {
            ul {
                .tags {
                 margin-bottom: 5px;
                }
            }
        }
    }

    .article-info {
        padding: 0;

        p {
            font-size: 20px;
            text-align: left;
        }

        .tags {
            margin-bottom: 5px;
        }

        .post-title{
            font-size: 30px;
        }

        .prettyprint {
            font-family: 'Source Code Pro', monospace;
            font-size: 18px;
            overflow: auto;
            white-space: pre;
            word-wrap: normal;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .quote {
            margin: 0;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

//Smartphones
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
        font-size: 3.0rem;
    }

    main#contact h1 {
        font-size: 3.0rem;
    }

    #form {
        width: 100%;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .article-info {
        padding: 0;

        p {
            font-size: 16px;
            text-align: left;

        }
        .post-title{
            font-size: 30px;
            line-height: 1;
            margin-bottom: 10px;
        }

        .article-date{
            width: 100%;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                //float: left;
                color: white;
                text-decoration: none;
            }

            .tags {
                height: 25px;
                width: 75px;
                color: white;
                background-color: #663399;
                font-weight: bold;
                margin-right: 5px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .post-tags{
            margin-bottom: 3px;
            font-size: 14px;
        }

        .prettyprint {
            font-family: 'Source Code Pro', monospace;
            font-size: 12px;
            overflow: auto;
            white-space: pre;
            word-wrap: normal;
        }

        code {
            font-size: 14px;
        }

        .responsive-small {
        width: 100%;
        height: auto;
        margin: auto;
    }
    }

}

