@import 'config';
@import 'menu';
@import 'form';

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat|Bree+Serif');

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-colour($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

// Headings

h1,
h2, 
h3,
h4,
h5, {
    margin: 0;
    font-weight: 400;
    font-family: 'Bree Serif', serif;

    &.lg-heading {
        font-size: 6rem;
        line-height: 1.5;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: lighten($secondary-color, 40);
    }
}

a {
    color: fff;
    text-decoration:none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;
            color: #000;
            
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

// about page

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 5px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .focus {
        grid-area: focus;
    }

    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }

    .job {
        background: lighten($secondary-color, 40);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }

}

// blog

.blog-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'post1 post2 post3'
    'post4 post5 post6';
    grid-template-columns: repeat(3, 1fr);

    .post-1 {
        grid-area: post1;
    }

    .post-2 {
        grid-area: post2;
    }

    .post-3 {
        grid-area: post3;
    }

    .post-4 {
        grid-area: post4;
    }

    .post-5 {
        grid-area: post5;
    }

    .post-6 {
        grid-area: post6;
    }

    .responsive {
        width: 100%;
        height: auto;
    }

    .post {
        background: lighten($secondary-color, 40);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        cursor: pointer;

        a {
            color: black;
            &:hover {
                cursor: pointer;
                color: #663399;
                text-decoration: underline;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                float: left;
                color: white;
                text-decoration: none;
            }

            .tags {
                height: 25px;
                width: 75px;
                color: white;
                background-color: #663399;
                font-weight: bold;
                margin-right: 5px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .post-title {
            text-transform: uppercase;
        }

    }

}


// individual post

    //img
    .responsive {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .article-info {
        padding: 0 3em 0 3em;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
           color: #663399; 
        }

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2.5em;
        }

        h3{
            font-size: 2em;
            line-height: 1;
        }

        h4{
            font-size: 1.75em;
        }

        p {
            font-size: 1.3em;
            line-height: 1.75;
        }

        .heading-4{
            font-size: 1.25em;
            color: #663399;
            font-family: 'Bree Serif', serif;
        }

        // ul {
        //     padding-left:5%; 
        //     list-style:none;
        // }

        // li {
        //     margin-bottom: 10px;
        //     font-family: 'Montserrat', sans-serif;
        //     font-size: 1.3em;
        //     line-height: 1;
        // }

        // li:before {    
        //     content: '\232F';
        //     margin:0 5px 0 -15px;
        //     font-size: 1.5em;
        //     line-height: 1;
        //     color: #663399;
        // }

        code {
            padding: 5px;
            background-color: lighten($secondary-color, 40);
            font-family: 'Source Code Pro', monospace;
            font-size: 16px;
        }

        a {
            // font-weight: bold;
           
            color: #663399;
            text-decoration: underline;
            &:hover {
                cursor: pointer;
                color: black;
                text-decoration: underline;
            }
        }

        ul#tags {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                float: left;
                color: white;
                text-decoration: none;
            }

            .tags, .post-tags {
                list-style-type: none;
                height: 30px;
                width: auto;
                padding: 3px;
                color: white;
                background-color: #663399;
                font-weight: bold;
                margin-right: 5px;
                text-align: center;
                //text-transform: uppercase;
            }

            .post-tags {
                background-color: black;
            }
        }

        .post-title {
            text-transform: uppercase;
            font-size: 7vh;
            color: #663399;
            line-height: 1;
        }

        .date-published {
            font-style: italic;
        }

        .share-icons {
            color: #663399;
            margin-left: 5px;
            padding-right: 20%;
            float: right;
        }

        .quote {
            display: block;
            background: lighten($secondary-color, 40);
            border-bottom: $secondary-color 5px solid;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 1rem;
            width: 75%;
        

            .fa-quote-left{
                margin-right: 20px;
                color: #663399;
            }
        }

        hr {
            color: #663399;
            background-color: #663399;
            width: 50%;
            margin-top: 20px;
            margin-bottom: 30px;
            height: 3px;
        }

        .article-meta{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .article-date {
            justify-self: left;
        }

        .tags-label{
            text-transform: uppercase;
            font-style: italic;
            margin-right: 10px;
        }

        .article-tags {
            justify-self: flex-end;

            .tags {
                height: 25px;
                width: 75px;
                color: white;
                background-color: black;
                font-weight: bold;
                margin-right: 5px;
                text-align: center;
                text-transform: uppercase;
            }
        } 

        .prettyprint {

            font-family: 'Source Code Pro', monospace;
            padding: 0.2rem 1rem;
            text-align: left;
            border-bottom: lighten($secondary-color, 40) 5px solid;
            overflow: auto;
            white-space: pre;
            word-wrap: normal;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .reading-thanks {
            font-style: italic;
            a {
                text-decoration: none;
            }
        }
        

    }


// work/projects

.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px solid #fff;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

// Contact Page

.btnContactUs {
    display: block;
    width: 75%;
}

.contact-text {
    font-size: 1.5rem;
    text-align: center;
}

#error-message {
    width: 100%;
    color: red;
    text-align: center;
}

.g-recaptcha {
    display: block;
}

#success-message {
    width: 100%;
    color: green;
    text-align: center;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px solid white;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-colour($secondary-color);
            span {
                color: black;
            }
        }
    }
}

//Button Style

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    text-align: center;
    background: black;
    color: white;

    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);

    }
}

.btn-dark {
    @extend .btn;
    // background: darken($primary-color, 50);
    // color: #fff;
}

.btn-light {
    @extend .btn;
    // background: lighten($primary-color, 50);
    // color: #fff;
}

.main-footer {
    text-align: center;
    padding: 1rem;
    background: $secondary-color;
    color: #fff;
    height: 60px;
}

@import 'mobile';